<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<meta name="google-signin-client_id" content="613142032810-2rtjpsgcnk59l7cbn6erro9qmgftdudb.apps.googleusercontent.com'">

	  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">

	  </script>
	  <script src="https://apis.google.com/js/client:platform.js?onload=start" async defer>
	  </script>

	  <script>
	    function start() {
	      gapi.load('auth2', function() {
	        auth2 = gapi.auth2.init({
	          client_id: '613142032810-2rtjpsgcnk59l7cbn6erro9qmgftdudb.apps.googleusercontent.com',
	          // Scopes to request in addition to 'profile' and 'email'
	          //scope: 'additional_scope'
	        });
	      });
	    }
	  </script>

</head>
<body>
	<a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a><br>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>



	<script>
	function signInCallback(authResult) {
	  if (authResult['code']) {

	    // Hide the sign-in button now that the user is authorized, for example:
	    $('#signinButton').attr('style', 'display: none');

	    // Send the code to the server
	    $.ajax({
	      type: 'POST',
	      url: 'http://example.com/storeauthcode',
	      // Always include an `X-Requested-With` header in every AJAX request,
	      // to protect against CSRF attacks.
	      headers: {
	        'X-Requested-With': 'XMLHttpRequest'
	      },
	      contentType: 'application/octet-stream; charset=utf-8',
	      success: function(result) {
	        // Handle or verify the server response.
	      },
	      processData: false,
	      data: authResult['code']
	    });
	  } else {
	    // There was an error.
	  }
	}
	</script>

</body>
</html>