<!DOCTYPE html>
{% load static %}
<html>
<head>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <title>Books</title>

  <meta name="google-signin-client_id" content="613142032810-2rtjpsgcnk59l7cbn6erro9qmgftdudb.apps.googleusercontent.com">

</head>
<body>
  <br><br><br>
  <div class = "container" >

  <h1 id="Helo" style="text-align: center;"></h1>
  <div style="text-align: center;"><img id="gambar" src="" style="width: 10vw"></div>
  <br><br><br>

    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <a id="signOut" href="#" onclick="signOut();" style="display: none">Sign out</a>
    
    <input type="text" name="search">
    <button class="btn btn-white">Submit</button>


    <div class = "text-left">
    <h2><i class="fa fa-star" style="color: white;" id="statusBuku" >0</i></h2>
    
    <table class = "table table-striped" id = "shelf" style = "background-color: white">

    </table>
  </div>
    <script src="{% static 'js/story9.js' %}"></script>

    <script type="text/javascript">
      function onSignIn(googleUser) {
      var profile = googleUser.getBasicProfile();
      console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.

      var img = profile.getImageUrl()
      $("#Helo").show();
      $("#Helo").text("CIAO!" + profile.getName() + "!");
      $("#gambar").attr('src',img);
      $(".g-signin2").hide();
      $("#signOut").show();

    }
    </script>

    <script>
    function signOut() {
     alert("Anda berhasil logout")
     var auth2 = gapi.auth2.getAuthInstance();
     auth2.disconnect().then(function () { 
      console.log("hai")
      $("#Helo").hide();
      $(".g-signin2").show();
      $("#gambar").hide();
      $("#signOut").hide();
     });
    }

   </script>

</body>
</html>